@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all 0.2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
  transition: all 0.2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}

html {
  font-size: 62.5%;
  /* 16px x 62.5 = 10px = 1rem */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 1rem;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

button.primary {
  background-color: #ff21cf;
  color: white;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.col-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.col-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 50rem;
          flex: 2 1 50rem;
}

.col-3 {
  -webkit-box-flex: 32;
      -ms-flex: 32 1 75rem;
          flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.p-1 {
  padding: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

.heading {
  padding-top: 7rem;
  width: 95%;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.heading span {
  font-size: 2rem;
  padding: 1rem 6rem;
  color: black;
  background: #1ec7fa;
  border-top-right-radius: 3rem;
  display: inline-block;
}

header .header-1,
header .header-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  z-index: 1000;
}

header .header-1 .logo {
  font-size: 2rem;
  color: #666;
}

header .header-1 .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-1 .form-container form #search {
  height: 4rem;
  width: 50rem;
  outline: none;
  border: 0.2rem solid #666;
  font-size: 1.5rem;
  padding: 0 1rem;
}

header .header-1 .form-container form #search:focus {
  border-color: #1ec7fa;
}

header .header-1 .form-container form label {
  height: 4rem;
  width: 5rem;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  background: #1ec7fa;
  color: #ff21cf;
}

header .header-1 .form-container form label:hover {
  color: #faa01e;
}

header .header-2 {
  background: #1ec7fa;
}

header .header-2 .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-2 .navbar ul li {
  margin: 0 1rem;
}

header .header-2 .navbar ul li a {
  font-size: 2rem;
  color: #ff21cf;
}

header .header-2 .icons a {
  color: #ff21cf;
  font-size: 2rem;
  padding: 0 1rem;
}

header .header-2 .icons a:hover {
  color: #faa01e;
}

header .header-2 #menu {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover {
  color: #faa01e;
}

header .header-2.header-active {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=styles.css.map */